{{- if eq .chezmoi.os "darwin" -}}
{{-   include ".chezmoitemplates/.zshrc_darwin" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include ".chezmoitemplates/.zshrc_linux" -}}
{{- end -}}


##ALT
#{{ if eq .chezmoi.os "darwin" -}}
## macOS .bashrc contents
#{{ else if eq .chezmoi.os "linux" -}}
## Linux .bashrc contents
#{{ end -}}/**/
