{{- if eq .chezmoi.os "darwin" -}}
{{-   include ".chezmoitemplates/darwin/.zshrc_darwin" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include ".chezmoitemplates/linux/.zshrc_linux" -}}
{{- end -}}
